{% extends "base.html" %}
{% set active_page = "start" %}

{% block content %}

    <div class="mb-0 jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 text-center">Text</h1>
            <p class="lead"></p>
            <h3 class="text-center">Text2</h3>
            <p class="lead">ELorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
                the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also
                the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p>
            <h3 class="text-center">Text3</h3>
            <p class="lead">
                the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also
                the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                Lorem Ipsum pass</p>
            <h3 class="text-center">Account</h3>
            <p class="lead">Do you not have an account yet then you can <a href="/sign_up/">make it here</a>. If you already have an account then you can <a
                    href="/login/">login here</a>.</p>
            <p class="lead">This site is new so there could be bugs! 🐛</p>
        </div>
    </div>

{% endblock %}

